qr.py
old.html
solution.py
testing/
.gitignore
https://drive.google.com/file/d/1nraG6lkkIBJxY6efoxhQnajaG3MJDB8W/view?usp=sharing
https://drive.google.com/file/d/1AGKIoOXTqOwOkKy9KpnIxHwDhg0qOfXk/view?usp=sharing

https://drive.google.com/file/d/1nraG6lkkIBJxY6efoxhQnajaG3MJDB8W/view?usp=sharing
https://drive.google.com/file/d/1nraG6lkkIBJxY6efoxhQnajaG3MJDB8W/view?usp=sharing

flask-geoalchemy/